html, body {
  font-size: 16px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, button, input {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px; }

a {
  color: #f65b0b;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

p {
  line-height: 1.5rem;
  margin: 0.5rem 0; }

h1, h2 {
  font-weight: bold;
  margin: 0.8em 0 0.1em 0; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.6rem; }

.text-center {
  text-align: center; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.btn {
  color: #f65b0b;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block; }
  .btn.-cta {
    background: #f65b0b;
    color: #eee;
    font-weight: 400;
    padding: 0.3em 0.5em;
    box-shadow: 0 1px 0 1px #c74807; }
    .btn.-cta:hover {
      text-decoration: none;
      background: #df5108; }
  .btn.-link {
    background: transparent;
    border: 0;
    display: inline;
    padding: 0;
    margin: 0; }
    .btn.-link:hover {
      text-decoration: underline; }
  .btn.-big {
    font-size: 1.3rem; }

body {
  background: #f8f6eb;
  color: #5989b1;
  margin: 0;
  padding: 0; }

footer {
  text-align: center;
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  right: 0; }

footer, footer a {
  font-size: 0.9rem;
  color: #777; }

footer a {
  text-decoration: underline; }

.content {
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 40rem; }

.timer-app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.timer-app p {
  color: #3774a7;
  text-align: center;
  margin: 0;
  display: none; }

.timer-app .separator,
.timer-app input {
  font-size: 6rem;
  line-height: 1em;
  padding: 0;
  margin: 0.5rem 0;
  vertical-align: middle;
  display: inline-block; }

.timer-app .separator {
  color: #3774a7; }

.timer-app input {
  color: #f65b0b;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #5496ce;
  width: 1.1em;
  height: 1em;
  text-align: right; }

.timer-app input:focus {
  background: #e0c0af;
  outline: none; }

.timer-app input::selection {
  background: transparent; }

.timer-app .help {
  color: #5496ce;
  width: 1px;
  position: relative;
  top: -0.6rem; }

.timer-app input.hms_days {
  width: 1.8em; }

.timer-app .help.-days {
  left: -2.4em; }

.timer-app .help.-hours {
  left: -2.8em; }

.timer-app .help.-minutes {
  left: -3.8em; }

.timer-app .help.-seconds {
  left: -4em; }

.hms {
  display: flex;
  justify-content: center; }

.timer-app.-set .description.-set {
  display: block; }

.timer-app.-countdown .description.-countdown {
  display: block; }

.timer-app.-expired .description.-expired {
  display: block; }

.timer-app.-expired .separator, .timer-app.-expired input {
  color: #d6b29f; }

.timer-app.-countdown input {
  border-bottom-color: transparent; }

.progressbar {
  background: transparent;
  height: 6px;
  overflow: hidden;
  margin: 1rem 0 1.5rem 0; }

.timer-app.-countdown .progressbar {
  background: #f65b0b; }

.timer-app.-countdown .progressbar div {
  background: #3774a7;
  transition: width 1s ease-in-out; }

.alarm {
  visibility: hidden;
  height: 0;
  width: 0; }

@media (max-width: 700px) {
  .hms .separator,
  .hms input {
    font-size: 2.8em; }
  footer .dash {
    display: none; }
  footer a {
    padding: 0 0.2em; }
  footer .copyright:after {
    content: "\00a0";
    display: block; }
  .timer-app .help {
    font-size: 0.9rem; }
  .timer-app .help.-days {
    left: -2.1em; }
  .timer-app .help.-hours {
    left: -2.5em; }
  .timer-app .help.-minutes {
    left: -3.5em; }
  .timer-app .help.-seconds {
    left: -3.7em; } }

