$text-color: #333 !default;
$link-color: #b16f37 !default;
$input-color: #cd8f1a !default;

$timer-background: rgba(23, 10, 2, 0.8) !default;
$timer-text-color: #caa98d !default;

$btn-color: #ece2ce !default;
$btn-bg: #9e5c23 !default;
