input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  color: #f65b0b;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;

  &.-cta {
    background: #f65b0b;
    color: #eee;
    font-weight: 400;
    padding: 0.3em 0.5em;
    box-shadow: 0 1px 0 1px darken(#f65b0b, 10%);

    &:hover {
      text-decoration: none;
      background: darken(#f65b0b, 5%);
    }
  }

  &.-link {
    background: transparent;
    border: 0;
    display: inline;
    padding: 0;
    margin: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &.-big {
    font-size: 1.3rem;
  }
}
