input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  background: $btn-bg;
  color: $btn-color;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid #563111;
  padding: 0.3em 0.5em;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background: darken($btn-bg, 4%);
    outline: 1px solid #d89357;
    text-decoration: none;
  }

  &:focus {
    border-color: transparent;
    outline: 2px solid #d89357;
  }

  &.-secondary {
    background: lighten($btn-bg, 50%);
    color: inherit;
    border: 0;
  }

  &.-big {
    font-size: 1.3rem;
  }
}
