html,
body {
  background-color: var(--body-bg);
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

article,
footer {
  margin: 4rem auto 3rem auto;
  padding: 1rem var(--gutter);
  max-width: 34rem;
}

img {
  vertical-align: middle;
  max-width: 100%;
}
