html,
body {
  color: var(--font-color);
  font-size: var(--font-size);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--link-color);

  &:hover {
    text-decoration: none;
  }
}

p {
  line-height: 1.5em;
  margin-top: 1rem 0 0.5rem 0;
}

h1, h2 {
  font-family: var(--font-family-monospace);
  font-weight: 400;
  color: var(--link-color);
  padding: 0;
  margin: 3rem 0 0.5rem 0;
  line-height: 1.2em;
}

h1 {
  font-size: calc(var(--font-size) * 1.1 + 1.4vw);
}

h2 {
  font-size: calc(var(--font-size) + 1.6vw);
}
